<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="descripion" content="">
		<title>My Title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/css/foundation.min.css">
		<link rel="stylesheet" href="styles/style.css">
	    <style type="text/css">
	    	*,*:before,*:after {
	    	border: 1px solid red;
	    	-webkit-box-sizing:border-box;
	    	box-sizing:border-box;
	    	}
	    	</style>
	</head>
	<body>
		<%= yield %>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/js/foundation.min.js"></script>
	</body>
</html>