<img src="/styles/cow_black_white.png">
<object width="300" height="28" class="hark_player">
<param name="movie" value="http://cdn.hark.com/swfs/player_fb.swf?pid=mjynwlkcsm&as=1"/>
<param name="allowscriptaccess" value="always"/>
<param name="allownetworking" value="all"/>
<param name="wmode" value="transparent"/>
<embed src="http://cdn.hark.com/swfs/player_fb.swf?pid=mjynwlkcsm&as=1" type="application/x-shockwave-flash" allowscriptaccess="always" allownetworking="all" width="300" height="28" wmode="transparent"></embed>
</object><br/>
<a href="http://www.hark.com/clips/mjynwlkcsm-moo-moo-moo-moo" style="font-size: 9px; color: #ddd;" title="Listen to  on Hark.com"></a>