<%= @user.username %>
<a href = '/startgame/<%=@user.user_id%>/2' class ='button'> Start <a>
<a href = '/signout' class ='button'> logout <a>

<div class="row" data-equalizer>
	<div class="large-6 columns">
    	<ul class="game_list" data-equalizer-watch>
    		<center>
    			<h3>Current Games</h3>
    		</center>
    		<% @game_hash['in_progress'].each do |game|%>
    			<li><a class = 'game_li' href='/game/<%=game.game_id%>'> Game: <%=game.game_id%></a> </li>
    		<% end %>
   		</ul>    
   	</div>
   	<div class="large-6 columns">
    	<ul class="pricing-table" data-equalizer-watch>
      	<li class="cta-button"><a class="button" href="#">Moooooooooo!</a></li>
    </ul>    
  </div>